#form-property .row {
    --bs-gutter-y: 1.5rem;
    margin-bottom: 2rem;
}

#form-property .row:last-child {
    margin-bottom: 0;
}

#form-property .preview-url {
    position: relative;
}

#form-property .preview-url .btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
