a {
    transition: 0.3s;
    text-decoration: var(--bs-link-decoration);
}

.title {
    margin-bottom: 1.5rem;
}

.block-wrap {
    background-color: #fff;
    padding: 1.875rem;
}

.block-wrap .block-header {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ced4da;
}
