main {
    padding-top: var(--header-height);
}

a {
    transition: 0.3s;
    text-decoration: var(--bs-link-decoration);
}

.title {
    margin-bottom: 1.5rem;
}

.block-wrap {
    background-color: #fff;
    padding: 1.875rem;
}

.block-wrap .block-header {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ced4da;
}

.filepond--root .filepond--credits[style] {
    display: none !important;
}

.filepond--root {
    margin-bottom: 0 !important;
    border: #d1d1d1 2px solid;
    overflow: hidden;
}

.filepond--drip {
    background-color: var(--bs-body-bg);
    opacity: 0;
}
