.property-item {
    --bs-card-border-width: 0;
    --bs-card-title-color: #ff8c19;
    --bs-card-spacer-y: 0.5rem;
    --bs-card-bg: #fff;
    --bs-card-cap-bg: #fff;
    --bs-card-border-color: rgba(0, 0, 0, 0.05);

    transition: 0.2s;
}

.property-item:hover {
    transform: translateY(-1%);
}

.property-item .card-title {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.property-item .card-footer {
    --bs-card-border-width: 1px;
}

.property-item .card-text {
    color: #a7aeb8;
}

.property-item .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
