#backoffice-nagvigation .nav-link {
    --bs-nav-link-color: #b34700;
    --bs-nav-link-hover-color: #ff8c19;
    --bs-nav-link-font-weight: 600;
    --bs-nav-link-padding-x: 0;

    text-transform: uppercase;
}
